.maingrid
{
    display: grid;
    margin: 4em auto;
}
.timetable-inner
{
    display: grid;
    margin: 1em auto;
}


body {
    font-family: "Knockout 51 Middleweight";
    min-height:385vh;
    

}

.vertical-line {
    /* margin: 0;
    padding: 0; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 100vh; */
    margin-left: 25vw;
    width: 2px;
    height: 80%; /* Extend the line to the bottom */
    position: absolute;
    top: 65vh; /* Start from 50vh */
    background-color: white; /* Change the background color as desired */
}

.highlighted {
    color: rgb(95,155,248);
}

footer {
    position:absolute;
    bottom:0;
}

.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 58.5vh; /* Start from the middle (50vh) */
    left: 25%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #FF5733; /* Change the circle color as desired */
    border-radius: 50%;
    margin: 6.5vh 0; /* Add 20vh vertical margin to create intervals */
}
.time {
    position: absolute;
    left: -12vw; /* Adjust the distance of the time from the line */
    color: white;
    font-size: 2em;
}

.time_label {
    position: absolute;
    left: -10vw;
    top: -5vh;
    color: rgba(140,82,246,1);
    font-size: 1.5em;
}
.column1_event_location {
    position: absolute;
    left: 10vw; /* Adjust the distance of the time from the line */
    top: -5vh;
    color: rgba(140,82,246,1);
    font-size: 1.5em;
    white-space: nowrap;
}

.column2_event_location {
    position: absolute;
    left: 35vw; /* Adjust the distance of the time from the line */
    top: -5vh;
    color: rgba(140,82,246,1);
    font-size: 1.5em;
    white-space: nowrap;
}

.column3_event_location {
    position: absolute;
    left: 55vw; /* Adjust the distance of the time from the line */
    top: -5vh;
    color: rgba(140,82,246,1);
    font-size: 1.5em;
    white-space: nowrap;
}
a:link, a:visited{
    color: white;
    text-decoration: none!important;
    
  }

a:hover {
    color: rgba(140,82,246,1);
}

.column1_event {
    position: absolute;
    left: 10vw; /* Adjust the distance of the time from the line */
    color: white;
    font-size: 1.2em;
    white-space: nowrap;
    text-decoration: none;
}
.column2_event {
    position: absolute;
    left: 35vw; /* Adjust the distance of the time from the line */
    color: white;
    font-size: 1.2em;
    white-space: nowrap;
    text-decoration: none;
}
.column3_event {
    position: absolute;
    left: 55vw; /* Adjust the distance of the time from the line */
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1.2em;
    white-space: nowrap;
    text-decoration: none;

}

@media screen and (max-width: 760px) {
    .maingrid
    {
        grid-template-columns: 1fr;
        margin: 2em;
    }    
}

@media screen and (min-width: 761px) {
    .maingrid
    {
        grid-template-columns: 1fr 3.5fr;
        width: 90%;
    }    
}

.timetable-inner
{
    grid-template-columns: 1fr 2.5fr;
}

#cover {
    text-align: center;
    margin-bottom: 10em;
    margin-top: 10em;
}

/* #cover-title
{
    background-image: url("Assets/wavy.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
} */

.super-big
{
    margin: 0.8em auto auto;
}


@media screen and (max-width: 480px) {
    .super-big
    {
        font-size: 4.5em;
        line-height: 1em;
    }
    #cover {
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
    }
    .container_agenda {
        font-size: 1rem;
        
    }

    body {
        min-height:330vh;
        
    }


.vertical-line {
    margin-left: 20vw;
    width: 2px;
    height: 80%; /* Extend the line to the bottom */
    position: absolute;
    top: 40vh; /* Start from 50vh */
    background-color: white; /* Change the background color as desired */
}

.highlighted {
    color: rgb(95,155,248);
}

footer {
    position:absolute;
    bottom:0;
}

.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 35vh; /* Start from the middle (50vh) */
    left: 20%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #FF5733; /* Change the circle color as desired */
    border-radius: 50%;
    margin: 5vh 0; /* Add 20vh vertical margin to create intervals */
}
.time {
    position: absolute;
    left: -15vw; /* Adjust the distance of the time from the line */
    color: white;
    /* font-size: 10px; */
    font-size: 0.8em;
}

.time_label {
    position: absolute;
    left: -10vw;
    top: -5vh;
    color: rgba(140,82,246,1);
    font-size: 1em;
}
.column1_event_location {
    position: absolute;
    left: 5vw; /* Adjust the distance of the time from the line */
    top: -5vh;
    color: rgba(140,82,246,1);
    font-size: 1em;
}

.column2_event_location {
    position: absolute;
    left: 32vw; /* Adjust the distance of the time from the line */
    top: -5vh;
    color: rgba(140,82,246,1);
    font-size: 1em;
    white-space: nowrap;
}

.column3_event_location {
    position: absolute;
    left: 57vw; /* Adjust the distance of the time from the line */
    top: -5vh;
    color: rgba(140,82,246,1);
    font-size: 1em;
    white-space: nowrap;
}

.column1_event {
    position: absolute;
    left: 10vw; /* Adjust the distance of the time from the line */
    color: white;
    font-size: 0.6em;
    white-space: nowrap;
}
.column2_event {
    position: absolute;
    left: 35vw; /* Adjust the distance of the time from the line */
    color: white;
    font-size: 0.6em;
    white-space: nowrap;
}
.column3_event {
    position: absolute;
    left: 60vw; /* Adjust the distance of the time from the line */
    padding: 0;
    margin: 0;
    color: white;
    font-size: 0.6em;
    white-space: nowrap;

}


}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .super-big
    {
        font-size: 6.5em;
        line-height: 1em;
    }
    #cover {
        text-align: center;
        margin-bottom: 5em;
        margin-top: 5em;
    }
    .container_agenda {
        font-size: 7px;
        
    }


.vertical-line {
    margin-left: 35vw;
    width: 2px;
    height: 80%; /* Extend the line to the bottom */
    position: absolute;
    top: 40vh; /* Start from 50vh */
    background-color: white; /* Change the background color as desired */
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .super-big
    {
        font-size: 7.5em;
        line-height: 1em;
    }
    #cover {
        text-align: center;
        margin-bottom: 5em;
        margin-top: 5em;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .super-big
    {
        font-size: 9em;
        line-height: 1em;
    }

}

@media screen and (min-width: 1441px) {
    .super-big
    {
        font-size: 10em;
        line-height: 1em;
    }
}

#cover {
    text-align: center;
}

.timetable-inner-left {
    text-align: left;
    padding: 0.5em;
}

.timetable-inner-right {
    text-align: left;
    padding: 1em 4em 1em 1em; /* Increase left padding to 4em */
}

.section-block .section_subtitle,
.section-block .section_title {
    margin: 0;
}

.section-block p {
    margin: 0.2em;
}

p.timetable-time {
    font-size: 3em;
    color: white;
    margin: 0.1em;
}

.event-details {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.speaker-pic {
    display: block;
    max-width: 100px;
    height: auto;
    margin-bottom: 0.5em;
}

