#partner1
{
    background-image: url("Assets/partners/Slush_Black_Logo.png");
}

#partner2
{
    background-image: url("Assets/partners/PLAYBOOK\ Logo.png");
}

#partner3
{
    background-image: url("Assets/partners/Hult\ Prize\ Logo.jpeg");
}

#partner4
{
    background-image: url("Assets/startAD_logo.jpeg");
}

#partner5
{
    background-image: url("Assets/nyuad_square_logo.jpeg");
}

.partners-container {
    display: inline-block;
}

#partners .card
{
    width: 17vw;
    /* background-color: #0A0B12; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#partners-flex-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card
{
    background-size: cover;
    background-repeat: no-repeat;
}

#agendaCard {
    background-image: url("Assets/investors.jpg");
}

#speakersCard {
    background-image: url("Assets/volunteers.jpg");
}

#whyAttendCard {
    background-image: url("Assets/investors.jpg");
}

#FAQCard {
    background-image: url("Assets/volunteers.jpg");
}
