
#sponsor1
{
    background-image: url("Assets/partners/nokia.png");
}
#sponsor2
{
    background-image: url("Assets/partners/Copy\ of\ Torches-CDC-Wordmark-Violet.png");
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}
#sponsor3
{
    background-image: url("Assets/partners/startAD.png");
}

#attending_uni1 {
    background-image: url("Assets/partners/UAE-AI-Uni.jpeg");
}
#attending_uni2 {
    background-image: url("Assets/partners/zayed_uni.png");
}
#attending_uni3 {
    background-image: url("Assets/partners/Khalifa-University-logo.jpg");
}
#attending_uni4 {
    background-image: url("Assets/partners/sorbonne.png");
}



#partner1
{
    background-image: url("Assets/partners/Slush_Black_Logo.png");
}

#partner2
{
    background-image: url("Assets/partners/PLAYBOOK\ Logo.png");
}
#partner5
{
    background-image: url("Assets/partners/Copy\ of\ Torches-CDC-Wordmark-Violet.png");
}


#partner3
{
    background-image: url("Assets/partners/Hult\ Prize\ Logo.jpeg");
}

#partner4
{
    background-image: url("Assets/startAD_logo.jpeg");
}


#partner6
{
    background-image: url("Assets/partners/plug-and-play.png");
}

#partner7
{
    background-image: url("Assets/partners/sharooq.png");
}
#partner8
{
    background-image: url("Assets/partners/hub71.png");
}
#partner9
{
    background-image: url("Assets/partners/khalifa\ fund.jpeg");
}
#partner10
{
    background-image: url("Assets/partners/antler_logo.jpeg");
}
#partner11
{
    background-image: url("Assets/partners/businessfinland.jpeg");
}
#partner12
{
    background-image: url("Assets/partners/500\ logo.png");
}
#partner13
{
    background-image: url("Assets/partners/Finnish-Embassy-Abu-Dhabi-Careers.jpg");
}
#partner14
{
    background-image: url("Assets/partners/sharjah-investment-and-development-authority-shurooq-logo-vector.png");
}
#partner15
{
    background-image: url("Assets/partners/nuwa\ logo.png");
}
#partner16
{
    background-image: url("Assets/partners/baytukum_logo_gb_400.png");
}
#partner17
{
    background-image: url("Assets/partners/Sheraa+Logo.png");
}
#partner18
{
    background-image: url("Assets/partners/global\ vent\ logo.jpeg");
}
#partner19
{
    background-image: url("Assets/partners/Fetchr-logo.jpg");
}
#partner20
{
    background-image: url("Assets/partners/startglobal\ logo.jpeg");
}
#partner21
{
    background-image: url("Assets/partners/fuse\ logo.png");
}
#partner22
{
    background-image: url("Assets/partners/Livewire-Logo.png");
}
#partner23
{
    background-image: url("Assets/partners/eyouth_logo.jpeg");
}
#partner24
{
    background-image: url("Assets/partners/by_venture_partners_logo.jpeg");
}
#partner25
{
    background-image: url("Assets/partners/buildspace-logo.jpeg");
}
#partner26
{
    background-image: url("Assets/partners/pretiosum-logo.jpeg");
}
#partner27
{
    background-image: url("Assets/partners/blink-logo.jpeg");
}
#partner28
{
    background-image: url("Assets/partners/fevafit.png");
}
#partner29
{
    background-image: url("Assets/partners/conjcapitallogo.png");
}
#partner30
{
    background-image: url("Assets/partners/tigerpay.png");
}
#partner31
{
    background-image: url("Assets/partners/letsdunch.png");
}
#partner32
{
    background-image: url("Assets/partners/xare.png");
}
#partner33
{
    background-image: url("Assets/partners/ATHEON_LOGO.png");
}

#partner34
{
    background-image: url("Assets/partners/phoenix.jpeg");
}

#partner35
{
    background-image: url("Assets/partners/ARE");
}
#partner36
{
    background-image: url("Assets/partners/braineering-logo.png");
}
#partner37
{
    background-image: url("Assets/partners/bunn-logo-vector.png");
}
#partner38
{
    background-image: url("Assets/partners/capmob.jpeg");
}
#partner39
{
    background-image: url("Assets/partners/chalhoub-group-logo-vector.png");
}
#partner40
{
    background-image: url("Assets/partners/click_logo.png");
}
#partner41
{
    background-image: url("Assets/partners/cognit\ dx.png");
}
#partner42
{
    background-image: url("Assets/partners/dh3.jpeg");
}
#partner43
{
    background-image: url("Assets/partners/Dystinct-Learners.png");
}
#partner44
{
    background-image: url("Assets/partners/EY\ logo.png");
}
#partner45
{
    background-image: url("Assets/partners/fenix.png");
}

#partner46
{
    background-image: url("Assets/partners/Grambell-organisational-logo.webp");
}
#partner47
{
    background-image: url("Assets/partners/inseyab.png");
}
#partner48
{
    background-image: url("Assets/partners/KPMG_logo.svg.png");
}
#partner49
{
    background-image: url("Assets/partners/mempool\ ventures.png");
}


#partner50
{
    background-image: url("Assets/partners/north\ star.jpeg");
}

#partner51
{
    background-image: url("Assets/partners/revent.png");
}
#partner52
{
    background-image: url("Assets/partners/Zealous\ Full\ Logo\ \(Blue\ +\ Black\ Tagline\)\ \(1\).webp");
}
#partner53
{
    background-image: url("Assets/partners/zywa.png");
}










.partners-container {
    display: inline-block;
}

#partners .card
{
    width: 10vw;
    /* background-color: #0A0B12; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 10vh;
    margin: 1vw;
}

#partners-flex-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.sponsors-container {
    display: inline-block;
}

#sponsors .card
{
    width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
    margin: 1vw;
}

#sponsors-flex-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.attendees-container {
    display: inline-block;
}
#attendees_uni .card
{
    width: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
    margin: 1vw;
}

#attendings-flex-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.card
{
    background-size: cover;
    background-repeat: no-repeat;
}

#agendaCard {
    background-image: url("Assets/investors.jpg");
}

#speakersCard {
    background-image: url("Assets/volunteers.jpg");
}

#whyAttendCard {
    background-image: url("Assets/investors.jpg");
}

#FAQCard {
    background-image: url("Assets/volunteers.jpg");
}


@media screen and (min-width: 381px) and (max-width: 500px) {
    #partners .card
{
    width: 40vw;
}
#sponsors .card
{
    width: 40vw;
}
#attendees_uni .card
{
    width: 40vw;
}
}

@media screen and (max-width: 380px){
    #partners .card
{
    width: 40vw;
}
#sponsors .card
{
    width: 40vw;
}
#attendees_uni .card {
    width: 40vw;
}
}