#speakers-cover
{
    text-align: center;
    margin-bottom: 6em;
}


#speakers-flex-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#happenings-flex-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card
{
    background-size: cover;
    background-repeat: no-repeat;
}

.super-overlay
{
    background-color: #0A0B12;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    z-index: 10000;
}

.super-overlay-content
{
    width: 90vw;
    margin: 2em 2em;
}

.super-overlay-content .section_title
{
    margin: 0;
}

.hidden
{
    display: none;
}

#seemore
{
    background: linear-gradient(41deg, rgba(95,155,248,1) 0%, rgba(140,82,246,1) 43%, rgba(140,82,246,1) 57%, rgba(236,91,186,1) 100%);
    cursor: pointer;
    text-align: center;
}

#speaker1, #photo-speaker1
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/ayoola.jpeg");
}
#speaker2, #photo-speaker2
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/joel.jpeg")
}
#speaker3, #photo-speaker3
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/barbara.jpeg");
}
#speaker4, #photo-speaker4
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/simran.jpeg");
}
#speaker5, #photo-speaker5
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/bhaskar.png");
}
#speaker6, #photo-speaker6
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/devika.jpeg");
}
#speaker7, #photo-speaker7
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/aman.jpeg");
}

#speaker1_2023, #photo-speaker1_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/peter.jpeg");
}
#speaker2_2023, #photo-speaker2_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/elliott.jpeg")
}
#speaker3_2023, #photo-speaker3_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/shamim.jpeg");
}
#speaker4_2023, #photo-speaker4_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/belarbi.jpeg");
}
#speaker5_2023, #photo-speaker5_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/marc.jpeg");
}
#speaker6_2023, #photo-speaker6_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/idriss.jpg");
}
#speaker7_2023, #photo-speaker7_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/latifa.jpeg");
}

#close-speaker1_2023 {
    float: right;
}



















.speaker-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.speaker-photo {
    flex: 1;
}

.speaker-details {
    flex: 1;
    padding: 0 1em;
}