#speakers-cover
{
    text-align: center;
    margin-bottom: 6em;
}


#speakers-flex-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#happenings-flex-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card
{
    background-size: cover;
    background-repeat: no-repeat;
}

.super-overlay
{
    background-color: #0A0B12;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    z-index: 10000;
    
}

.super-overlay-content
{
    width: 90vw;
    margin: 2em 2em;
}

.super-overlay-content .section_title
{
    margin: 0;
}

.hidden
{
    display: none;
}

#seemore
{
    background: linear-gradient(41deg, rgba(95,155,248,1) 0%, rgba(140,82,246,1) 43%, rgba(140,82,246,1) 57%, rgba(236,91,186,1) 100%);
    cursor: pointer;
    text-align: center;
}

#speaker1, #photo-speaker1
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/ayoola.jpeg");
}
#speaker2, #photo-speaker2
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/joel.jpeg")
}
#speaker3, #photo-speaker3
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Barbara.jpeg");
}
#speaker4, #photo-speaker4
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/simran.jpeg");
}
#speaker5, #photo-speaker5
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/bhaskar.png");
}
#speaker6, #photo-speaker6
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/devika.jpeg");
}
#speaker7, #photo-speaker7
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/aman.jpeg");
}


#speaker1_2023, #photo-speaker1_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Mira\ Tabbara.jpg");
}


#speaker0_2023, #photo-speaker0_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/peter.jpeg");
}
#speaker00_2023, #photo-speaker00_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/marwan.jpeg");
}
#speaker2_2023, #photo-speaker2_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Yedhu\ Gopan.jpeg")
}
#speaker3_2023, #photo-speaker3_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Shamim\ Chowdhury.jpeg");
}
#speaker4_2023, #photo-speaker4_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Louiza\ Chitour\ \(1\)\ \(1\)\ -\ Haya\ Ammar.jpg");
}
#speaker5_2023, #photo-speaker5_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Daifullah\ Alrajhi.png");
}
#speaker6_2023, #photo-speaker6_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Maher\ Al\ Kabi.png");
}
#speaker7_2023, #photo-speaker7_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Headshot\ -\ Hisham\ Akhtar.png");
}
#speaker8_2023, #photo-speaker8_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/yana.png");
}
#speaker9_2023, #photo-speaker9_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/mustafa\ abd\ ellatif.jpg");
}
#speaker10_2023, #photo-speaker10_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Jules\ Chasles\ -\ Photo\ -\ Koleen\ Ocampo.png");
}
#speaker11_2023, #photo-speaker11_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Fares\ Ghandour-Wamda-color\ -\ Fares\ Ghandour.jpeg");
}
#speaker12_2023, #photo-speaker12_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/hany_sayed.png");
}
#speaker13_2023, #photo-speaker13_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/rami.jpeg");
}
#speaker14_2023, #photo-speaker14_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Ashaia\ Haroun.jpg");
}
#speaker15_2023, #photo-speaker15_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Kristof-Lukovich.jpg");
}
#speaker16_2023, #photo-speaker16_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Suraya\ Turk\ -\ Ilham\ A.jpg");
}
#speaker17_2023, #photo-speaker17_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/latifa.jpeg");
}
#speaker18_2023, #photo-speaker18_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/moritz.jpeg");
}
#speaker19_2023, #photo-speaker19_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Padmini\ Linkedin\ -\ Padmini\ Gupta.jpg");
}
#speaker20_2023, #photo-speaker20_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/zain-tarawneh.jpg");
}
#speaker21_2023, #photo-speaker21_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/tarek.jpeg");
}
#speaker22_2023, #photo-speaker22_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Mo\ Ali.jpg");
}

/* #Speaker2025_1, #photo-Speaker2025_1 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/shadad.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_1:hover, #photo-Speaker2025_1:hover {
    filter: none;
    transform: scale(1.05);
} */

#close-speaker1_2023 {
    float: right;
}
#close-speaker00_2023 {
    float: right;
}
#close-speaker0_2023 {
    float: right;
}

.super-overlay p{
    text-align: justify;
}



















.speaker-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.speaker-photo {
    flex: 1;
}

.speaker-details {
    flex: 1;
    padding: 0 1em;
}