#speakers-cover
{
    text-align: center;
    margin-bottom: 6em;
}

#careerfair-cover
{
    text-align: center;
    margin-bottom: 3em;
    margin-top: 3em;
}


#speakers-flex-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#happenings-flex-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card
{
    background-size: cover;
    background-repeat: no-repeat;
}

.super-overlay
{
    background-color: #0A0B12;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    z-index: 10000;
    
}

.super-overlay-content
{
    width: 90vw;
    margin: 2em 2em;
}

.super-overlay-content .section_title
{
    margin: 0;
}

.hidden
{
    display: none;
}

#seemore
{
    background: linear-gradient(41deg, rgba(95,155,248,1) 0%, rgba(140,82,246,1) 43%, rgba(140,82,246,1) 57%, rgba(236,91,186,1) 100%);
    cursor: pointer;
    text-align: center;
}

#speaker1, #photo-speaker1
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/ayoola.jpeg");
}
#speaker2, #photo-speaker2
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/joel.jpeg")
}
#speaker3, #photo-speaker3
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Barbara.jpeg");
}
#speaker4, #photo-speaker4
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/simran.jpeg");
}
#speaker5, #photo-speaker5
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/bhaskar.png");
}
#speaker6, #photo-speaker6
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/devika.jpeg");
}
#speaker7, #photo-speaker7
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/aman.jpeg");
}


#speaker1_2023, #photo-speaker1_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Mira\ Tabbara.jpg");
}


#speaker0_2023, #photo-speaker0_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/peter.jpeg");
}
#speaker00_2023, #photo-speaker00_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/marwan.jpeg");
}
#speaker2_2023, #photo-speaker2_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Yedhu\ Gopan.jpeg")
}
#speaker3_2023, #photo-speaker3_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Shamim\ Chowdhury.jpeg");
}
#speaker4_2023, #photo-speaker4_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Louiza\ Chitour\ \(1\)\ \(1\)\ -\ Haya\ Ammar.jpg");
}
#speaker5_2023, #photo-speaker5_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Daifullah\ Alrajhi.png");
}
#speaker6_2023, #photo-speaker6_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Maher\ Al\ Kabi.png");
}
#speaker7_2023, #photo-speaker7_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Headshot\ -\ Hisham\ Akhtar.png");
}
#speaker8_2023, #photo-speaker8_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/yana.png");
}
#speaker9_2023, #photo-speaker9_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/mustafa\ abd\ ellatif.jpg");
}
#speaker10_2023, #photo-speaker10_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Jules\ Chasles\ -\ Photo\ -\ Koleen\ Ocampo.png");
}
#speaker11_2023, #photo-speaker11_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Fares\ Ghandour-Wamda-color\ -\ Fares\ Ghandour.jpeg");
}
#speaker12_2023, #photo-speaker12_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/hany_sayed.png");
}
#speaker13_2023, #photo-speaker13_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/rami.jpeg");
}
#speaker14_2023, #photo-speaker14_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Ashaia\ Haroun.jpg");
}
#speaker15_2023, #photo-speaker15_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Kristof-Lukovich.jpg");
}
#speaker16_2023, #photo-speaker16_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Suraya\ Turk\ -\ Ilham\ A.jpg");
}
#speaker17_2023, #photo-speaker17_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/latifa.jpeg");
}
#speaker18_2023, #photo-speaker18_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/moritz.jpeg");
}
#speaker19_2023, #photo-speaker19_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Padmini\ Linkedin\ -\ Padmini\ Gupta.jpg");
}
#speaker20_2023, #photo-speaker20_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/zain-tarawneh.jpg");
}
#speaker21_2023, #photo-speaker21_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/tarek.jpeg");
}
#speaker22_2023, #photo-speaker22_2023
{
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Mo\ Ali.jpg");
}

#Speaker2025_1, #photo-Speaker2025_1 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Deeb\ Aljundi.JPG");
}

#Speaker2025_2, #photo-Speaker2025_2 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Ashwin\ Joshi.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_2:hover, #photo-Speaker2025_2:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_3, #photo-Speaker2025_3 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Danial\ Mausoof.png");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_3:hover, #photo-Speaker2025_3:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_4, #photo-Speaker2025_4 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Rima\ Manna.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_4:hover, #photo-Speaker2025_4:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_5, #photo-Speaker2025_5 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Yedhu\ Gopan.jpeg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_5:hover, #photo-Speaker2025_5:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_6, #photo-Speaker2025_6 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/photo2\ -\ Keith\ Ross.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_6:hover, #photo-Speaker2025_6:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_7, #photo-Speaker2025_7 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Bashar_pic\ -\ Bashar\ Alhafni.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_7:hover, #photo-Speaker2025_7:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_8, #photo-Speaker2025_8 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Updated\ Linkedin\ -\ Anne\ Salmela.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_8:hover, #photo-Speaker2025_8:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_9, #photo-Speaker2025_9 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Eddy_photo_Head\ -\ Eddy\ Farhat.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_9:hover, #photo-Speaker2025_9:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_10, #photo-Speaker2025_10 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Tuula.png");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_10:hover, #photo-Speaker2025_10:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_11, #photo-Speaker2025_11 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/fs999_\ 5_1mb\ -\ Farah\ Shamout.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_11:hover, #photo-Speaker2025_11:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_12, #photo-Speaker2025_12 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Maimuna.png");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_12:hover, #photo-Speaker2025_12:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_13, #photo-Speaker2025_13 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Cofounder\ -Aqsa\ Khalifa\ -\ Pupilar\ Team.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_13:hover, #photo-Speaker2025_13:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_14, #photo-Speaker2025_14 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/jules_team_picture\ -\ Jules\ Chasles.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_14:hover, #photo-Speaker2025_14:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_15, #photo-Speaker2025_15 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/IMG_0732\ White\ -\ Faisal\ Iqbal.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_15:hover, #photo-Speaker2025_15:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_16, #photo-Speaker2025_16 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Fabio\ Piano\ Photo\ \ -\ Fabio\ Piano.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_16:hover, #photo-Speaker2025_16:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_17, #photo-Speaker2025_17 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Rauda.jpeg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_17:hover, #photo-Speaker2025_17:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_18, #photo-Speaker2025_18 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Louiza\ Chitour\ \(2\)-min\ -\ Louiza\ Chitour.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_18:hover, #photo-Speaker2025_18:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_19, #photo-Speaker2025_19 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/_Chris\ -\ Christophe\ Zoghbi.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_19:hover, #photo-Speaker2025_19:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_20, #photo-Speaker2025_20 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/unnamed\ \(10\)\ -\ Swati\ Trivedi.webp");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_20:hover, #photo-Speaker2025_20:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_21, #photo-Speaker2025_21 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Hakim\ Hacid\ -\ Pic\ -\ Karen\ Panikar.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_21:hover, #photo-Speaker2025_21:hover {
    filter: none;
    transform: scale(1.05);   
}
#Speaker2025_22, #photo-Speaker2025_22 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/website-scaled\ -\ Rasa\ Karapandza.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_22:hover, #photo-Speaker2025_22:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_23, #photo-Speaker2025_23 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Bassel.png");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_23:hover, #photo-Speaker2025_23:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_24, #photo-Speaker2025_24 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Alok-Kumar\ -\ Nitin\ Desai.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_24:hover, #photo-Speaker2025_24:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_25, #photo-Speaker2025_25 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Self\ Photo\ -\ Cropped\ -\ Bilal\ Abou-Diab.jpeg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_25:hover, #photo-Speaker2025_25:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_26, #photo-Speaker2025_26 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/richa\ patil.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_26:hover, #photo-Speaker2025_26:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_27, #photo-Speaker2025_27 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/1722982097425\ -\ Moritz\ Gripp.jpeg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_27:hover, #photo-Speaker2025_27:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_28, #photo-Speaker2025_28 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/20241031-Barbara-Scheck-bcs7910-\ -\ Barbara\ Scheck.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_28:hover, #photo-Speaker2025_28:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_29, #photo-Speaker2025_29 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/C\ Ogurno\ Curly\ Hair\ Out\ Headshot\ -\ Chinny\ C.\ Ogunro.JPG");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_29:hover, #photo-Speaker2025_29:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_30, #photo-Speaker2025_30 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/thumbnail_IMG_0626\ -\ Mohamed\ Alzaabi.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_30:hover, #photo-Speaker2025_30:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_31, #photo-Speaker2025_31 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/20241030Hugo\ photo\ placeholder\ -\ Hugo\ Cugnet-1.png");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_31:hover, #photo-Speaker2025_31:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_32, #photo-Speaker2025_32 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/IMG_0005\ -\ Adel\ Hamwi.jpeg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_32:hover, #photo-Speaker2025_32:hover {
    filter: none;
    transform: scale(1.05);
}
#Speaker2025_33, #photo-Speaker2025_33 {
    filter: grayscale(100%);
    background-image: url("Assets/speakers/Karim\ -\ Aryamaan\ Dholakia.jpg");
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#Speaker2025_33:hover, #photo-Speaker2025_33:hover {
    filter: none;
    transform: scale(1.05);
}

#close-speaker1_2023 {
    float: right;
}
#close-speaker00_2023 {
    float: right;
}
#close-speaker0_2023 {
    float: right;
}

.super-overlay p{
    text-align: justify;
}



















.speaker-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.speaker-photo {
    flex: 1;
}

.speaker-details {
    flex: 1;
    padding: 0 1em;
}
